table {
    width: calc(100%);
  }
  .header-container {
    display: flex;
    margin: 64px 0 40px 0;
  }
  .view-header {
    flex: 1;
    padding: 8px;
    overflow: hidden;
  }
  .cover {
    width: 180px;
    height: 180px;
    border-radius: 2px;
    position: relative;
    background-color: #Fafafa
  }
  .cover img {
    height: 100%;
    width: 100%;
    border-radius: 2px;
  }
  .description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: 0 0 0 24px;
  }
  .title{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    font-size: 34px;
    line-height: 40px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
  }
  .description {
    display: inline-block;
    height: 24px;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.54);
  }