table {
    width: calc(100%);
  }
  .header-container {
    display: flex;
    margin: 64px 0 40px 0;
  }
  .view-header {
    flex: 1;
    padding: 8px;
    overflow: hidden;
  }
  .cover {
    width: 180px;
    height: 180px;
    position: relative;
    background-color: #Fafafa
  }
  .cover img {
    height: 100%;
    width: 100%;
  }
  .description-container {
    justify-content: center;
    overflow: hidden;
    padding: 0 0 0 24px;
  }
  .title{
    margin-bottom: 4px;
    font-size: 26px;
    font-weight: 500;
  }