.toolbar {
    background-color: #FFFFFF;
    height: 90px!important;
    padding: 0;
    box-shadow: 0 0 8px rgba(0,0,0,.4);
}
.timer-seeker{
    position: absolute;
    top: -23px;
    left: 82px;
    width: calc(100% - 74px);
}
.cover-art {
    height: 90px;
    width: 90px;
}
.cover-art img {
    height: 100%;
    width: 100%;
}
.container-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.track-title {
    padding: 8px;
}
.playing-title{
    font-size: 16px;
    display: flex;
    align-items: flex-end;   
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.playing-details {
    white-space: nowrap;
    display: inline;
    color: rgba(0, 0, 0, 0.54);
    font-size: 13px;
    font-weight: 400;   
}
.current-time{
    position: absolute;
    top: 0;
    right: 8px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
}
