.toolbar {
    background-color: #FFFFFF;
    height: 90px!important;
    padding: 0;
    box-shadow: 0 0 8px rgba(0,0,0,.4);
}
.cover-art {
    height: 90px;
    width: 90px;
}
.cover-art img {
    height: 100%;
    width: 100%;
}
.container-center {
    display: flex;
    justify-content: center;
}
.track-title {
    padding: 8px;
}
.playing-title{
    font-size: 16px;
    display: flex;
    align-items: flex-end;   
    font-weight: 500;
}
.playing-details {
    white-space: nowrap;
    display: inline;
    color: #616161;
    font-size: 13px;
    font-weight: 400;   
}