<mat-toolbar class="toolbar" fxLayout="row" fxLayoutAlign="space-around center"> 
    <div class="cover-art" >
        <img [src]="track.album.images[0].url" >
    </div>  
    <button mat-icon-button>
      <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
    </button> 
    <button mat-fab color="primary" class="mat-elevation-z0" (click)="play()">
        <mat-icon aria-label="menu">play_arrow</mat-icon>
    </button>   
    <button mat-icon-button>
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
</mat-toolbar>