<mat-toolbar class="toolbar" fxLayout="row" > 
        <mat-slider *ngIf="loadedTrack" color="warn" class="timer-seeker" min="0" [max]="maxSlider" step="1" [(ngModel)]="sliderSeekerValue"></mat-slider>
    <div fxFlex fxLayout="row">
        <div class="cover-art"  *ngIf="loadedTrack" >
            <img [src]="loadedTrack.track_window.current_track.album.images[0].url" >
        </div>  
        <div class="track-title" fxLayout="column" *ngIf="loadedTrack">
            <div class="playing-title" fxFlex>{{loadedTrack.track_window.current_track.name}}</div>
            <div class="playing-details" fxFlex>{{loadedTrack.track_window.current_track.artists[0].name}}</div>
        </div>
    </div>
    <div fxFlex class="container-center">
            <button mat-icon-button (click)="AddToQueue(element.track.uri)">
                    <mat-icon aria-label="Play song">skip_previous</mat-icon>
                </button> 
        <button mat-fab  color="warn" [disabled]="trackLoaded" *ngIf="isPlaying == false" class="mat-elevation-z0" (click)="play()">
            <mat-icon aria-label="menu">play_arrow</mat-icon>
        </button>  
        <button mat-fab  color="warn" *ngIf="isPlaying == true" class="mat-elevation-z0" (click)="pause()">
            <mat-icon aria-label="menu">pause_arrow</mat-icon>
        </button>         
        <button mat-icon-button (click)="next()">
                <mat-icon aria-label="Play song">skip_next</mat-icon>
            </button> 
    </div>
    <div fxFlex>
        <div  class="current-time">
            <div>{{minTemp | date:'mm:ss'}}/{{maxTemp | date:'mm:ss'}}</div>
        </div>  
    </div>
 

</mat-toolbar>