
.toolbar {
    background-color: #FFFFFF;
    display:flex;
}
.border {
    border-bottom: 1px solid #e0e0e0;
}
.logo-image {
    
}
.custom-form {
    font-size: 12px;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    padding: 0px 10%;
}
.option-img {
    vertical-align: middle;
    position: relative;
    margin-right: 16px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    height: 34px;
    border-radius: 50%;
  }
  .option-img img {
    margin: 2px;
      
      
  }