

<div class="route-container">
  <div class="header-container">
    <div class="view-header" fxLayout="row">
      <div class="cover" *ngIf="trackListData">
        <img [src]="trackListData.images[0].url">
      </div>
      <div class="description-container" *ngIf="trackListData">      
        <div class="title">
          {{trackListData.name}}
          <button mat-mini-fab class="mat-elevation-z0 custom-fab" (click)="AddToQueue(trackListData.tracks)">
              <mat-icon aria-label="menu">play_arrow</mat-icon>
          </button>
        </div>
        <div class="artist"></div>
        <div class="description">{{trackListData.artists[0].name}}</div>
        <div class="description">{{trackListData.release_date}} • {{trackListData.total_tracks}} songs</div>
        <div>
            <button mat-button>
              <mat-icon aria-label="menu">radio</mat-icon>
              RADIO
            </button>
            <button mat-button>
              <mat-icon aria-label="menu">shuffle</mat-icon>
              SHUFFLE
            </button>
            <button mat-button>
              <mat-icon aria-label="menu">edit</mat-icon>
              EDIT
            </button>
            <button mat-button>
              <mat-icon aria-label="menu">share</mat-icon>
              SHARE
            </button>
        </div>
      </div>
    </div>
  </div>
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataSource">
  
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="track.uri">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="playTrack(element.uri)" (mouseover)="element.showPlay = true" (mouseleave)="element.showPlay = false">
              <mat-icon aria-label="Play song" *ngIf="!element.showPlay">music_note</mat-icon>
              <mat-icon aria-label="Play song" *ngIf="element.showPlay">play_arrow</mat-icon>
          </button> 
      </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="track.name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="track.artists">
        <th mat-header-cell *matHeaderCellDef> Artist </th>
        <td mat-cell *matCellDef="let element"> {{element.artists[0].name}} </td>
      </ng-container>

      <ng-container matColumnDef="track.duration_ms">
        <th mat-header-cell *matHeaderCellDef> Duration </th>
        <td mat-cell *matCellDef="let element"> {{element.duration_ms  | date: "mm:ss"}} </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
  </table>
</div>
