.container {
   
    height: 175px;
    display: flex;
    align-items: center;

}
.playlist-cover {
    padding: 0px;
    height: 60px;
    width: 60px;
}
.playlist-cover img{
    height: 60px;
    width: 60px;
}
 