.cover-container {
    position: relative;
    cursor: pointer;
    height: 100%;
    width: 100%;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.cover-container:hover {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
}
.card {
    padding: 0; 
    z-index: 0;
    
}
.card img{
    height: 100%;
    width: 100%;
    border-radius: 2px;
 }
 .card-btns {
     position: absolute;
     z-index: 1;    
    right: 4px;
    bottom: 4px;
 }
 .card-btn{
    max-width: 28px;
    max-height: 28px;
    min-width: 28px;
    min-height: 28px;
    background: #FFF;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
 }
 .card-btn-mat-icon {
     height: 12px !important;
     width: 12px !important;
     font-size: 16px;
     position: absolute;
     top: 6px;
     left: 6px;
 }
