
.cards-container {   
   
   
}
.card{
    margin: 8px;
    padding: 0;
}

.card img{
    height: 100%;
    width: 100%;
}
 .headline-header{
    font-family: 'Roboto',arial,'Noto Sans Japanese',sans-serif;
     margin-bottom: 32px;
     display: inline-block;
     max-width: 100%;
     font-size: 34px;
     font-weight: 400;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     color: #212121;
 }
 .pallete{
    width: 100px;
    height: 2px;
    border-radius: 1px;
    background: currentColor;
    color: #ff5722;
    margin-top: 12px;
 }

 .recentlyPlayed{
     display: flex;
     align-items: center;
     justify-content: center;
     height: 200px;
     overflow: auto;
     margin-top: 32px;
 }
 .recentlyPlayed-header{
    margin-bottom: 16px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
}
 .recentlyPlayed-item{
     margin: 0px 8px 0px 8px;
 }
 .recentlyPlayed-card{
    padding: 0;
    height: 90px;
    max-height: 90px;
    width: 90px;
    min-width: 90px;
    position: relative;
 }
 .recentlyPlayed-card img{
    height: 90px;
    width: 90px;
 }
 .recentlyPlayed-card-title{
     position: absolute;
     margin-top:12px;
     max-height: 36px;
     font-size: 14px;
     line-height: 18px;
     color: #212121;
 }
 .subtitle{
    color: #616161;
 }

