.player{
    position: fixed;
    bottom:0;
    z-index: 10;
    width: 100%;
}
.toolbar{
    position: fixed;
    width: 100%;
    z-index: 2;
}
.nav-container {
    padding: 112px 0px 0px 0px;
    width: 72px;
    min-width: 72px;
    position: fixed;
    z-index: 10;
}
.content-container{
    overflow: auto;
    height: calc(100% - 64px - 90px);
    margin-top: 64px;
    margin-bottom: 64px;    
}
.nav-btn{
    cursor: pointer;
    height: 74px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    outline: none;
}
.nav-btn-icon{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}
.nav-btn-title{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-top: 4px;
    max-width: 60px;
    max-height: 20px;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
    hyphens: auto;
}